docs/** linguist-documentation=true
package/** linguist-vendored=true
resources/** linguist-vendored=true
screens/** linguist-documentation=true
thirdparty/** linguist-vendored=true
tools/*.py linguist-detectable=true
