docs/** linguist-documentation=true
package/** linguist-vendored=true
resources/** linguist-vendored=true
screens/** linguist-documentation=true
thirdparty/** linguist-vendored=true
foundation/old_to_remake/** linguist-detectable=false
